@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ff66b3 1.84%, #ffff33 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ff66b3 -13.86%, #ffff33 99.55%);
  
  --color-bg: #1a000d;
  --color-footer : #330026;
  --color-blog: #042c54;
  --color-text: #72a6da;
  --color-subtext: #ffff33;
  --color-links: #F49867;
}